.split-pane-divider {
	-fx-padding: 0 0.30em;
}

.code-area {
    -fx-font-size: 20px;
}

.code-area .selection {
    -fx-fill: #A6D2FF;
}

.code-area .text {
    -fx-font-family: "Consolas";

}

.lineno {
    -fx-font-size: 18px;
    -fx-padding: 0 0.5em;
}

.expression {
    -fx-fill: #778899;
    -fx-font-weight: 700;
}

.assignment {
    -fx-fill: #B22222;
    -fx-font-weight: 700;
}

.flowcontrol {
    -fx-fill: #663399;
    -fx-font-weight: 700;

}

.io {
    -fx-fill: #4169E1;
    -fx-font-weight: 700;

}

.misc {
    -fx-fill: #A0522D;
}

.comment {
	-fx-fill: #3CB371;
	-fx-font-style: italic;
}